<form class="{{cssClass}} flexrow nowrap" autocomplete="off">

  <div>
    <!-- Left Side -->

    <div class="item-stat-block">

      <div class="stat-group">
        <div class="sheet-header">
          <h3 {{#if spellName}}data-tooltip="{{object.description}}" class="spell-name""{{/if}} data-tooltip-class="mta-tooltip">
            {{#if spellName}}
              <span>{{spellName}}</span>
              <span class="mini-text">(Hover for details)</span>
              {{else}}{{ localize "MTA.SpellDetails" }}
            {{/if}}</h3>
        </div>
        <div class="gold-border"> </div>

        
        <div class="form-line">
          <div class="wide yantra-box">
            {{#each object.combinedSpells}}
              <label data-tooltip="{{this.description}}" data-tooltip-class="mta-tooltip" class="checkBox checkButton combinedSpellButton" data-value="{{@index}}">
                <input data-dtype="Boolean" type="checkbox" data-value="{{@index}}" checked>
                <span data-value="{{@index}}">{{this.name}} ({{ localize this.arcanum }} {{this.level}})</span>
              </label>
            {{/each}}
          </div>
          <div class="wide">
            <select class="addCombinedSpell">
              <option value="" selected disabled hidden>+{{ localize "MTA.Spell" }}</option>
              {{#each combinedSpellOptions}}
                <option value="{{@index}}">{{this.name}} ({{ localize this.system.arcanum }} {{this.system.level}})</option>
              {{/each}}
            </select>
            <span>{{combinedSpellCount}}/{{combinedSpellMax}}</span>
          </div>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.Arcanum" }} </label>
          <div>
            <div class="improvised-spell-arcarnum">
              <select name="object.arcanum">
                {{selectOptions config.arcana selected=object.arcanum localize=true}}
              </select>
              <button class="button stoneButton arcanumAdd" title="{{localize "MTA.AddArcanum"}}"><i class="fas fa-plus-circle"></i></button>
            </div>

            {{#if object.additionalArcana}}
              {{#each object.additionalArcana as |arcanum index|}}
                <div class="improvised-spell-arcarnum improvised-spell-additional-arcarnum">
                  <select name="object.additionalArcana.{{index}}.arcanum">
                    {{selectOptions ../config.arcana selected=arcanum.arcanum localize=true}}
                  </select>
                  <button class="button stoneButton arcanumRemove" data-index="{{index}}" title="{{localize "MTA.RemoveArcanum"}}"><i class="fas fa-times-circle"></i></button>
                </div>
              {{/each}}
            {{/if}}
          </div>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.Practice" }} </label>
          <select name="object.practice">
            {{selectOptions selectOptions.practices selected=object.practice}}
          </select>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.PrimaryFactor" }} </label>
          <select name="object.primaryFactor">
            {{selectOptions selectOptions.primaryFactors selected=object.primaryFactor}}
          </select>
          <label class="wide small"> {{ localize "MTA.PrimaryFactorInstructions" }} </label>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.YantraDice" }} </label> <input name="object.yantraBonus" type="number" data-dtype="Number" value="{{object.yantraBonus}}" />
          <label class="wide small"> {{ localize "MTA.YantraAfterPenalties" }}: {{yantraBonusFinal}} </label>
        </div>

        <div class="form-line">
          <div class="wide yantra-box">
            {{#each object.yantras}}
              <label class="checkBox checkButton yantraButton" data-value="{{@index}}">
                <input data-dtype="Boolean" type="checkbox" data-value="{{@index}}" checked>
                <span data-value="{{@index}}">{{this.localised}} (+{{this.value}})</span>
              </label>
            {{/each}}
          </div>
          <div class="wide">
            <select class="addYantra">
              <option value="" selected disabled hidden>+{{ localize "MTA.Yantra" }}</option>
              {{#each yantraOptions}}
                <option {{#if this.custom}}class="custom-yantra"{{/if}} value="{{@index}}">{{this.localised}} (+{{this.value}})</option>
              {{/each}}
            </select>
            <span>{{yantraCount}}/{{yantraMax}}</span>
          </div>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.DiceMod" }} </label> <input name="object.bonusDice" type="number" data-dtype="Number" value="{{object.bonusDice}}" />
        </div>

        <div class="form-line">
          <label>  {{ localize "MTA.WithstandRating" }} </label> <input name="object.withstandRating" type="number" data-dtype="Number" value="{{object.withstandRating}}" />
          <label class="wide small"> {{ localize "MTA.WithstandInstructions" }} </label>
        </div>
        <div class="form-line">
          <div class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.castPraxis" type="checkbox" {{checked object.castPraxis}}>
              <span> {{ localize "MTA.Praxis" }} </span>
            </label>
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.isInured" type="checkbox" {{checked object.isInured}}>
              <span> {{ localize "MTA.Inured" }} </span>
            </label>
            {{#if scelestiRank}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.isBefouled" type="checkbox" {{checked object.isBefouled}}>
              <span> {{ localize "MTA.Befouled" }} </span>
            </label>
            {{/if}}
          </div>
          <div class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.castRote" type="checkbox" {{checked object.castRote}}>
              <span> {{ localize "MTA.Rote" }} </span>
            </label>
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.castRoteOwn" type="checkbox" {{checked object.castRoteOwn}}>
              <span> {{ localize "MTA.SelfDesigned" }} </span>
            </label>
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.castGrimoire" type="checkbox" {{checked object.castGrimoire}}>
              <span> {{ localize "MTA.Grimoire" }} </span>
            </label>
          </div>
        </div>
      </div>

      <div class="stat-group">
        <div class="sheet-header">
          <h3> {{ localize "MTA.Paradox" }} </h3>
        </div>
        <div class="gold-border"> </div>

        <div class="form-line">
          <label> {{ localize "MTA.ParadoxRollsScene" }} </label> <input name="object.paradox.previous_rolls" type="number" data-dtype="Number" value="{{object.paradox.previous_rolls}}" min="0" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.SleeperWitnesses" }} </label>
          <select name="object.paradox.sleeper_witnesses">
            {{selectOptions selectOptions.spell_casting.sleeper_witnesses selected=object.paradox.sleeper_witnesses}}
          </select>
        </div>

        <div class="form-line">
          <label> {{ localize "MTA.ManaSpent" }} </label> <input name="object.paradox.mana_spent" type="number" data-dtype="Number" value="{{object.paradox.mana_spent}}" min="0" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.DedicatedMagicTool" }} </label>
          <label class="checkBox">
            <input object.data-dtype="Boolean" name="object.paradox.magical_tool_used" type="checkbox" {{checked object.paradox.magical_tool_used}}>
            <span></span>
          </label>
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.ParadoxMod" }} </label> <input name="object.paradox.bonus" type="number" data-dtype="Number" value="{{object.paradox.bonus}}" />
        </div>

      </div>

    </div>


  </div>


  <div>
    <!-- Right Side -->
    <div class="item-stat-block">

      <div class="stat-group">
        <div class="sheet-header">
          <h3> {{ localize "MTA.SpellFactors" }} </h3>
        </div>
        <div class="gold-border"> </div>

        <div class="form-line {{#if valueChange.potency}} fadeRed {{/if}}">
          <label> {{ localize "MTA.Potency" }} </label>
          <span>
            <select name="object.potency.value">
              {{#if object.potency.isAdvanced}}
                {{selectOptions selectOptions.spell_casting.potency.advanced selected=object.potency.value}}
              {{else}}
                {{selectOptions selectOptions.spell_casting.potency.standard selected=object.potency.value}}
              {{/if}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.potency.isAdvanced" type="checkbox" {{checked object.potency.isAdvanced}}>
              <span></span>
            </label>
          </span>
          <label class="small freeFactor"> {{#if object.potency.freeFactor}} {{ localize "MTA.FreePotency" }}: {{object.potency.freeFactor}} {{/if}} </label>
          <label class="wide small"> {{#if object.potency.isAdvanced}} {{ localize "MTA.PlusTwoWithstandAgainstDispell" }} {{/if}} </label>
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.Duration" }} </label>
          <span>
            <select name="object.duration.value">
              {{#if object.duration.isAdvanced}}
                {{selectOptions selectOptions.spell_casting.duration.advanced selected=object.duration.value}}
              {{else}}
                {{selectOptions selectOptions.spell_casting.duration.standard selected=object.duration.value}}
              {{/if}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.duration.isAdvanced" type="checkbox" {{checked object.duration.isAdvanced}}>
              <span></span>
            </label>
          </span>
          <label class="small freeFactor"> {{#if object.duration.freeFactor}} {{ localize "MTA.FreeDuration" }}: {{object.duration.freeFactor}} {{/if}} </label>
          <label class="wide small"> {{ localize "MTA.SpellWithInstaneousEffectsRecurEvery" }} {{ritualCastingTime}}. </label>
          <span class="wide">
            {{#if attainment_permanence}}
              <label class="checkBox checkButton">
                <input data-dtype="Boolean" name="object.attainment_permanence" type="checkbox" {{checked object.attainment_permanence}}>
                <span> {{ localize "MTA.Permanence" }} </span>
              </label>
            {{/if}}
            {{#if attainment_conditionalDuration}}
              <select name="object.condition">
                {{selectOptions selectOptions.spell_casting.condition selected=object.condition}}
              </select>
            {{/if}}
          </span>
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.Scale" }} </label>
          <span>
            <select name="object.scale.value">
              {{#if object.scale.isAdvanced}}
                {{selectOptions selectOptions.spell_casting.scale.advanced selected=object.scale.value}}
              {{else}}
                {{selectOptions selectOptions.spell_casting.scale.standard selected=object.scale.value}}
              {{/if}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.scale.isAdvanced" type="checkbox" {{checked object.scale.isAdvanced}}>
              <span></span>
            </label>
          </span>
          {{#if attainment_everywhere}}
          <span class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.attainment_everywhere" type="checkbox" {{checked object.attainment_everywhere}}>
              <span> {{ localize "MTA.Everywhere" }} </span>
            </label>
          </span>
          {{/if}}
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.CastingTime" }} </label>
          <span>
            <select name="object.casting_time.value">
              {{#if object.casting_time.isAdvanced}}
                {{selectOptions selectOptions.spell_casting.casting_time.advanced selected=object.casting_time.value}}
              {{else}}
                {{selectOptions casting_time selected=object.casting_time.value}}
              {{/if}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.casting_time.isAdvanced" type="checkbox" {{checked object.casting_time.isAdvanced}}>
              <span></span>
            </label>
          </span>
          {{#if attainment_timeInABottle}}
          <span class="wide">
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.attainment_timeInABottle" type="checkbox" {{checked object.attainment_timeInABottle}}>
              <span> {{ localize "MTA.TimeInABottle" }} </span>
            </label>
          </span>
          {{/if}}
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.Range" }} </label>
          <span>
            <select name="object.range.value">
              {{#if object.range.isAdvanced}}
                {{selectOptions selectOptions.spell_casting.range.advanced selected=object.range.value}}
              {{else}}
                {{selectOptions selectOptions.spell_casting.range.standard selected=object.range.value}}
              {{/if}}
            </select>
          </span>
          <span><label class="small"> {{ localize "MTA.Advanced" }} </label>
            <label class="checkBox">
              <input object.data-dtype="Boolean" name="object.range.isAdvanced" type="checkbox" {{checked object.range.isAdvanced}}>
              <span></span>
            </label>
          </span>
          <span class="wide">
            {{#if attainment_sympatheticRange}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.attainment_sympatheticRange" type="checkbox" {{checked object.attainment_sympatheticRange}}>
              <span> Sympathetic Range </span>
            </label>
            {{/if}}
            {{#if attainment_temporalSympathy}}
            <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.attainment_temporalSympathy" type="checkbox" {{checked object.attainment_temporalSympathy}}>
              <span> {{ localize "MTA.TemporalSympathy" }} </span>
            </label>
            {{/if}}
          </span>
          
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.ReachMod" }} </label> <input name="object.additionalReach" type="number" data-dtype="Number" value="{{object.additionalReach}}" />
        </div>
        <div class="form-line">
          <label> {{ localize "MTA.ManaMod" }} </label> <input name="object.manaMod" type="number" data-dtype="Number" value="{{object.manaMod}}" />
        </div>
      </div>

      {{#if object.addons}}
        <div class="stat-group">
          <div class="sheet-header">
            <h3>{{ localize "MTA.spell.cast.addons.title" }}</h3>
          </div>
          <div class="gold-border"> </div>
            {{#each object.addons as |addon index|}}
              <div class="form-line addon-form-line">
                <label class="checkBox addon-checkbox">
                  <input object.data-dtype="Boolean"
                    name="object.chosenAddons[]"
                    type="checkbox"
                    value="{{@index}}"
                    {{#if (inArray @index ../object.chosenAddons)}}
                      checked="checked"
                    {{/if}}
                    {{#if addon.isDisabled}}
                      disabled="disabled"
                    {{/if}}
                  >
                    <span>
                      {{#if addon.reachCost}}+{{addon.reachCost}} {{ localize "MTA.spell.cast.addons.costReach" }}{{/if}}
                      {{#if addon.prereq}}
                        {{#if (eq addon.prereq.type 'arcanum')}}
                        {{lookup ../reachArcanaOpts addon.prereq.key}}
                        {{addon.prereq.dots}}
                        {{/if}}
                      {{/if}}
                      {{#if addon.manaCost}}{{addon.manaCost}} {{ localize "MTA.spell.cast.addons.costMana" }}{{/if}}
                      {{#if addon.willpowerCost}}{{addon.willpowerCost}} {{ localize "MTA.spell.cast.addons.costWill" }}{{/if}}
                      :
                    </span>
                    {{addon.desc}}
                </label>
              </div>
            {{/each}}
        </div>
      {{/if}}

      <div class="stat-group">
        <div class="form-line {{#if valueChange.dicePool}} fadeRed {{/if}}">
          <label> {{ localize "MTA.DicePool" }} </label>
          <label> 
            <label> {{object.spellcastingDice}} </label>
            <span class="dicePoolMods">
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.spell_tenAgain" type="checkbox" {{checked object.spell_tenAgain}}>
              <span> {{ localize "MTA.TenAgain" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.spell_nineAgain" type="checkbox" {{checked object.spell_nineAgain}}>
              <span> {{ localize "MTA.NineAgain" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.spell_eightAgain" type="checkbox" {{checked object.spell_eightAgain}}>
              <span> {{ localize "MTA.EightAgain" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.spell_roteQuality" type="checkbox" {{checked object.spell_roteQuality}}>
              <span> {{ localize "MTA.Rote" }} </span>
            </label>
            </span>
          </label>
          <label class="wide small">{{#if object.woundPenalty}}(-{{object.woundPenalty}} {{ localize "MTA.DiceWoundPenalty" }}){{/if}}</label>
          <label class="wide small"> {{#if spellImpossible}} {{ localize "MTA.SpellFails" }} {{else}} {{#if object.chance_die}} {{ localize "MTA.ChanceDie" }} {{/if}} {{/if}}</label>
        </div>
        <div class="form-line {{#if valueChange.reach}} fadeRed {{else}} {{#if valueChange.reachFree}} fadeRed {{/if}} {{/if}}">
          <label> {{ localize "MTA.Reaching" }} </label>
          <label> {{object.reach}} / {{object.reachFree}}</label>
          {{#if activeSpellReach}}  <label> </label> <label class="small extraReach">(+{{activeSpellReach}} {{ localize "MTA.ReachInstructions" }})</label> {{/if}}
        </div>
        <div class="form-line {{#if valueChange.manaCost}} fadeRed {{/if}}">
          <label> {{ localize "MTA.MageMana" }} </label>
          <label> {{object.manaCost}} </label>
        </div>
        {{#if object.willpowerCost}}
        <div class="form-line {{#if valueChange.willpowerCost}} fadeRed {{/if}}">
          <label> {{ localize "MTA.Willpower" }} </label>
          <label> {{object.willpowerCost}} </label>
        </div>
        {{/if}}
        <div class="form-line {{#if valueChange.paradox}} fadeRed {{/if}}">
          <label>  {{ localize "MTA.Paradox" }} </label>
          <label> 
            <label> {{object.paradox.value}} </label>
            <span class="dicePoolMods">
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.paradox_tenAgain" type="checkbox" {{checked object.paradox_tenAgain}}>
              <span> {{ localize "MTA.TenAgain" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.paradox_nineAgain" type="checkbox" {{checked object.paradox_nineAgain}}>
              <span> {{ localize "MTA.NineAgain" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.paradox_eightAgain" type="checkbox" {{checked object.paradox_eightAgain}}>
              <span> {{ localize "MTA.EightAgain" }} </span>
            </label>
              <label class="checkBox checkButton">
              <input data-dtype="Boolean" name="object.paradox_roteQuality" type="checkbox" {{checked object.paradox_roteQuality}}>
              <span> {{ localize "MTA.Rote" }} </span>
            </label>
            </span>
          </label>
          <label class="wide small"> {{#if object.paradox.chance_die}} {{ localize "MTA.ChanceDie" }} {{/if}} </label>
        </div>
        <div>
          <button class="button stoneButton imprSpell rollParadox">
            {{ localize "MTA.RollParadox" }}
          </button>

          <button class="button stoneButton imprSpell castSpell">
            {{ localize "MTA.CastSpell" }}
          </button>
        
        </div>
        

      </div>

    </div>



  </div>




</form>