{{#each system.addons as |addon index|}}
<fieldset class="spell-reach-fieldset
  {{#if ../system.chosenAddons}}
    {{#if (inArray ../system.chosenAddons index)}}
      spell-reach-fieldset-chosen
    {{else}}
      spell-reach-fieldset-unchosen
    {{/if}}
  {{/if}}
">
  <legend>
    <span>
      {{#if (eq addon.variant "addon")}}
      {{ localize "MTA.spell.addons.legendAddon" }}
      {{else}}
      {{ localize "MTA.spell.addons.legendReach" }}
      {{/if}}
    </span>
  </legend>
  {{#if (eq ../item.type 'spell') }}
  <button type="button" data-index="{{index}}" title="{{ localize " MTA.spell.addons.btnRemove" }}"
    class="stoneButton spellAddonRemove">
    <i class="fas fa-times-circle"></i>
  </button>
  {{/if}}
  <input type="hidden" name="system.addons.{{index}}.variant" value="{{addon.variant}}" />
  <div class="form-group form-group-stacked">
    <label>{{ localize "MTA.spell.addons.labelDescription" }}</label>
    <textarea name="system.addons.{{index}}.desc" class="spell-reach-field" data-index="{{index}}" data-field="desc"
      {{#if (eq ../item.type 'activeSpell' ) }} disabled="disabled" {{/if}}>{{addon.desc}}</textarea>
  </div>
  {{#if (eq addon.variant 'addon')}}
  <input type="hidden" name="system.addons.{{index}}.prereq.type" value="arcanum" />
  <div class="form-group">
    <label>{{ localize "MTA.spell.addons.labelArcanum" }}</label>
    <select name="system.addons.{{index}}.prereq.key" class="spell-reach-field" data-index="{{index}}"
      data-field="prereq" data-subfield="key" {{#if (eq ../item.type 'activeSpell' ) }} disabled="disabled" {{/if}}>
      {{selectOptions ../reachArcanaOpts selected=addon.prereq.key localize="true"}}
    </select>
  </div>
  <div class="form-group">
    <label for="">{{localize 'MTA.Level'}}</label>
    <input type="number" class="spell-reach-field" name="system.addons.{{index}}.prereq.dots"
      value="{{addon.prereq.dots}}" step="1" min="0" max="5" data-field="prereq" data-subfield="dots" {{#if (eq
      ../item.type 'activeSpell' )}} disabled="disabled" {{/if}} />
  </div>
  {{/if}}

  <div class="spell-reach-costs">
    <div class="spell-reach-costs-label">{{ localize "MTA.spell.addons.headerCosts" }}</div>
    <div class="spell-reach-costs-fields-wrap">
      <div class="spell-reach-costs-field">
        <label>{{ localize "MTA.spell.addons.labelReach" }}</label>
        <input type="number" name="system.addons.{{index}}.reachCost"
          value="{{addon.reachCost}}"
          data-index="{{index}}"
          data-field="reachCost" class="spell-reach-field" {{#if (eq../item.type 'activeSpell' ) }} disabled="disabled"
          {{/if}} />
      </div>
      <div class="spell-reach-costs-field">
        <label>{{ localize "MTA.spell.addons.labelMana" }}</label>
        <input type="number" name="system.addons.{{index}}.manaCost" value="{{addon.manaCost}}" data-index="{{index}}"
          data-field="manaCost" class="spell-reach-field" {{#if (eq../item.type 'activeSpell' ) }} disabled="disabled"
          {{/if}} />
      </div>
      <div class="spell-reach-costs-field">
        <label>{{ localize "MTA.spell.addons.labelWillpower" }}</label>
        <input type="number" name="system.addons.{{index}}.willpowerCost" value="{{addon.willpowerCost}}"
          data-index="{{index}}" data-field="willpowerCost" class="spell-reach-field" {{#if
          (eq../item.type 'activeSpell' ) }} disabled="disabled" {{/if}} />
      </div>
    </div>
  </div>
</fieldset>
{{/each}}
{{#if (eq item.type 'spell')}}
<div class="spell-reach-controls">
  <button type="button" class="stoneButton spellAddonAdd" data-variant="reach">
    {{ localize "MTA.spell.addons.btnAddReach" }}
  </button>
  <button type="button" class="stoneButton spellAddonAdd" data-variant="addon">
    {{ localize "MTA.spell.addons.btnAddAddon" }}
  </button>
</div>
{{/if}}