<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Mummy.Affinity.title"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li>
              <label>{{localize "MTA.Mummy.Affinity.title"}}</label>
              <select name="system.affinityType">
                {{selectOptions config.affinityTypes selected=system.affinityType localize=true}}
              </select>
            </li>
            <li>
              <label>{{localize "MTA.Mummy.Affinity.pillar"}}</label>
              <select name="system.pillar">
                {{selectOptions config.affinityPillars selected=system.pillar localize=true}}
              </select>
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="description">{{localize "MTA.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
          {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
