<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Attainment"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> {{localize "MTA.Arcanum"}} </label> 
              <select name="system.arcanum">
                {{selectOptions config.arcana selected=system.arcanum}}
              </select>
            </li>
            <li> 
              <label> {{localize "MTA.Level"}} </label> <input name="system.level" type="number" data-dtype="Number" value="{{system.level}}" />
            </li>
          </ul>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="description">{{localize "MTA.Description"}}</a>
      <a class="item" data-tab="effects">{{localize "MTA.Effects"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
          <div class="item-stat-block padded">
            <div class="form-line">
              <label> {{localize "MTA.Legacy"}} </label> <input name="system.legacy" type="text" value="{{system.legacy}}" />
            </div> 
          </div>
             {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab" data-tab="effects">
          <div class="item-stat-block">
            {{{effectList this}}}
            {{{dicePoolList this}}}
          </div>
        </div>
    </section>
</form>
