<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
      <div class="flexcol merit-img">
        <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.CastigationRite"}}</h4>
            <span class="item-status"></span>
          </div>
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">    
      <a class="item" data-tab="effects">{{localize "MTA.Effects"}}</a>
      <a class="item" data-tab="description">{{localize "MTA.Description"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
      
        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>
      
        {{!-- Effects Tab --}}
        <div class="tab" data-tab="effects">
          <div class="item-stat-block">
            <div class="form-line">
                <label>{{localize "MTA.Cost"}}</label> <input name="system.cost" type="text" value="{{system.cost}}" data-koptions="1 Willpower/1 point of lethal damage"/>
            </div>
            <div class="form-line">
                <label>{{localize "MTA.Action"}}</label> <input name="system.action" type="text" value="{{system.action}}" data-koptions="{{#each config.actionTypes}}{{this}}/{{/each}}"/>
            </div>
            <div class="form-line">
                <label>{{localize "MTA.Duration"}}</label> <input name="system.duration" type="text" value="{{system.duration}}" data-koptions="One scene/One day/Indefinite"/>
            </div>
            {{{effectList this}}}
            {{{dicePoolList this}}}
          </div>
        </div>
    </section>
</form>