<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "MTA.Condition"}}</h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li>
          <label> {{localize "MTA.Persistent"}} </label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.isPersistent" type="checkbox" {{checked system.isPersistent}}>
            <span></span>
          </label>
        </li>
        <li>
          <label> {{localize "MTA.StatusIconVisibility"}} </label>
          <label class="checkBox">
            <select name="system.statusVisibility">
              {{selectOptions statusVisibilities selected=system.statusVisibility localize=true}}
            </select>
            <span></span>
          </label>
        </li>
        {{#if isChangeling}}
        <li>
          <label> {{localize "MTA.Clarity"}} </label>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.isClarity" type="checkbox" {{checked system.isClarity}}>
            <span></span>
          </label>
        </li>
        {{/if}}
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="description">{{localize "MTA.Description"}}</a>
    <a class="item" data-tab="effects">{{localize "MTA.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-tab="description">
      {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-tab="effects">
      <div class="item-stat-block">
        {{{effectList this}}}
        {{{dicePoolList this}}}
      </div>
    </div>
  </section>
</form>
