<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <div class="flexcol merit-img">
      <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </div>
    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type">{{localize "MTA.Echo"}}</h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li> 
            <label> {{localize "MTA.EchoWyrdRating"}} </label> <input name="system.rating" type="number" data-dtype="Number" value="{{system.rating}}" />
        </li>
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>
  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
  </section>
</form>