<form class="{{cssClass}} flexcol" autocomplete="off">
    <header class="sheet-header flexrow">
       <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      
        <div class="header-details flexrow">
          <h1 class="charname">
            <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
          </h1>
          <div class="item-subtitle">
            <h4 class="item-type">{{localize "MTA.Spell"}}</h4>
            <span class="item-status"></span>
          </div>
          <ul class="summary">
            <li> 
              <label> {{ localize "MTA.Arcanum" }} </label> 
              <select name="system.arcanum">
                {{selectOptions config.arcana selected=system.arcanum}}
              </select>
              <button class="button stoneButton arcanumAdd" title="{{localize "MTA.AddArcanum"}}"><i class="fas fa-plus-circle"></i></button>
            </li>
            <li> 
              <label> {{ localize "MTA.Level" }} </label> <input name="system.level" type="number" data-dtype="Number" value="{{system.level}}" />
            </li>
            <li> 
              <label> {{ localize "MTA.Practice" }} </label> 
              <input name="system.practice" type="text" value="{{system.practice}}" data-koptions="{{#each config.practices}}{{this}}/{{/each}}"/>
            </li>
          </ul>
          {{#if system.additionalArcana}}
            {{#each system.additionalArcana as |arcanum index|}}
              <ul class="summary">
                <li>
                  <label> {{ localize "MTA.Arcanum" }} </label> 
                  <select name="system.additionalArcana.{{index}}.arcanum">
                    {{selectOptions ../config.arcana selected=arcanum.arcanum}}
                  </select>
                  <button class="button stoneButton arcanumRemove" data-index="{{index}}" title="{{localize "MTA.RemoveArcanum"}}"><i class="fas fa-times-circle"></i></button>
                </li>
                <li>
                  <label> {{ localize "MTA.Level" }} </label> <input name="system.additionalArcana.{{index}}.level" type="number" data-dtype="Number" value="{{arcanum.level}}" />
                </li>
                <li></li>
              </ul>
            {{/each}}
          {{/if}}
        </div>
    </header>
  <div class="gold-border"> </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="traits">{{ localize "MTA.Traits" }}</a>
      <a class="item" data-tab="description">{{ localize "MTA.Description" }}</a>
      <a class="item" data-tab="addons">{{ localize "MTA.spell.addons.tabTitle" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab traits" data-tab="traits">
          <div class="item-stat-block">
            <div class="form-line">
              <label> {{ localize "MTA.PrimaryFactor" }} </label>
              <select name="system.primaryFactor">
                {{selectOptions primaryFactors selected=system.primaryFactor}}
              </select>
            </div>
            <div class="form-line">
              <label> {{ localize "MTA.Withstand" }} </label> <input name="system.withstand" type="text" value="{{system.withstand}}" />
            </div>
            <div class="form-line">
              <label> {{ localize "MTA.RoteSkill" }} </label> <input name="system.roteSkill" type="text" value="{{system.roteSkill}}" data-koptions="--Physical--/{{#each config.skills_physical}}{{this}}/{{/each}}/--Social--/{{#each config.skills_social}}{{this}}/{{/each}}/--Mental--/{{#each config.skills_mental}}{{this}}/{{/each}}"/>
            </div>
            <div class="form-line">
              <label> {{ localize "MTA.Creator" }} </label> <input name="system.creator" type="text" value="{{system.creator}}" />
            </div>
          </div>
        </div>

        {{!-- Description Tab --}}
        <div class="tab" data-tab="description">
            {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Addons Tab --}}
        <div class="tab" data-tab="addons">
          {{~> "systems/mta/templates/items/parts/spellTabAddons.hbs"}}
        </div>
    </section>
</form>
