<div class="attributes-flexrow">
  <ol class="attributes-list">
    <li class="attributes-header flexrow">
      <span class="attribute-key">{{localize "MTA.Mummy.pillars"}}</span>
      <span class="attribute-valueHeader-wrap">
        <span class="attribute-valueHeader">{{localize "MTA.Mummy.PillarPoints"}}</span>
        <span class="attribute-mod"></span>
        <span class="attribute-valueHeader">{{localize "MTA.Value"}}</span>
      </span>
    </li>
    {{#each config.mummy_pillars as |cvalue ckey|}}
    {{{rollableInput ../actor "mummy_pillars" ckey}}}
    {{/each}}
  </ol>
  <div class="flex-col">
    {{{bigStatBox actor false "mummy_traits.sekhem"}}}
  </div>
</div>

<div class="items-block">
  <div class="items-table">
    {{!-- Affinites --}}
    <table class="item-table">
      <thead>
        <tr class="item-row header">
          <th class="cell header first">
            <span class="collapsible button fas fa-minus-square"> </span>
            <span class="sortable button" data-type="affinity">{{localize "MTA.Mummy.Affinities"}}<i class="fas fa-sort"></i> </span>
          </th>
          {{#each inventory.affinity.dataset}}
          <th class="cell header"> {{this}} </th>
          {{/each}}
          <th class="cell header"></th>
          <th class="cell header button item-create" data-type="affinity">{{ localize "MTA.ButtonAdd" }}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="sub-header">
          <td colspan="100%">{{localize "MTA.Mummy.SoulAffinities"}}</td>
        </tr>
        {{#each inventory.affinity.items as |item iid|}}
        {{#if (eq system.affinityType "soul")}}
        <tr class="item-row item" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{item.pillar_loc}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}">
            {{#if system.effects }}<i class="activeIcon {{#if system.effectsActive}} fas {{else}} far {{/if}} fa-dot-circle"
              title="Effects active" data-item-id="{{item._id}}"></i>{{/if}}
            <i class="favicon {{#if system.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite"
              data-item-id="{{item._id}}"></i>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i
                class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}"
              title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
        {{/if}}
        {{/each}}
        <tr class="sub-header">
          <td colspan="100%">{{localize "MTA.Mummy.GuildAffinities"}}</td>
        </tr>
        {{#each inventory.affinity.items as |item iid|}}
        {{#if (eq system.affinityType "guild")}}
        <tr class="item-row item" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}"> {{item.pillar_loc}} </td>
          <td class="cell {{#if @last}} lastRow {{/if}}">
            {{#if system.effects }}<i class="activeIcon {{#if system.effectsActive}} fas {{else}} far {{/if}} fa-dot-circle"
              title="Effects active" data-item-id="{{item._id}}"></i>{{/if}}
            <i class="favicon {{#if system.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite"
              data-item-id="{{item._id}}"></i>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}" title="{{ localize 'MTA.EditItem' }}"><i
                class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}"
              title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
        {{/if}}
        {{/each}}
      </tbody>
    </table>
    {{!-- Utterances --}}
    <table class="item-table">
      <thead>
        <tr class="item-row header">
          <th class="cell header first">
            <span class="collapsible button fas fa-minus-square"> </span>
            <span class="sortable button" data-type="utterance">{{localize "MTA.Mummy.Utterances"}}<i class="fas fa-sort"></i> </span>
          </th>
          {{#each inventory.utterance.dataset}}
          <th class="cell header"> {{this}} </th>
          {{/each}}
          <th class="cell header"> </th>
          <th class="cell header button item-create" data-type="utterance">{{ localize "MTA.ButtonAdd" }}</th>
        </tr>
      </thead>
      <tbody>
        {{#each inventory.utterance.items as |item iid|}}
        <tr class="item-row item" data-item-id="{{item._id}}">
          <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item._id}}">
            <div class="item-name-wrapper">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <span> {{item.name}} </span>
            </div>
          </td>
          <td class="cell {{#if @last}} lastRow {{/if}}">{{item.pillarsString}}</td>
          <td class="cell {{#if @last}} lastRow {{/if}}">
            {{#if system.effects }}<i
              class="activeIcon {{#if system.effectsActive}} fas {{else}} far {{/if}} fa-dot-circle"
              title="Effects active" data-item-id="{{item._id}}"></i>{{/if}}
            <i class="favicon {{#if system.isFavorite}} fas {{else}} far {{/if}} fa-star" title="Favorite"
              data-item-id="{{item._id}}"></i>
          </td>
          <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
            <span class="button stoneButton item-edit" data-item-id="{{item._id}}"
              title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
            <span class="button stoneButton item-delete" data-item-id="{{item._id}}"
              title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>